#root {
  max-width: 1280px;
  margin: 0 auto;
  margin-left: 20rem;
  padding: 2rem;
}

.tf {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.1em 0.1em;
  margin-top: 1em;
  font-size: 0.75em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: transparent;
  display: inline-block;
  height: 2em;
  width: 2.5em;
}
.tf:hover{
  border-color: #646cff;
}

.card {
  padding: 2em;
}

.selected {
  background-color: #707299;
  color: #a9aeff;
}

.liveTick {
  display: inline;
  padding: 0.25em;
  /* background-color: green; */
}
